# OS or Editor folders
src/scss/helpers
/.vscode/

# Testing files
index.html

# Dependency caches
/node_modules
/packages

# build output directories
/bin
/out

# files generated at runtime
.log
.lock

# Hidden files
.DS_Store
Thumbs.db

# Ignore SASS config files
.sass-cache

# Ignore all text files
*.txt